GITHUB_APP_ID=
GITHUB_APP_PRIVATE_KEY=
GITHUB_WEBHOOK_SECRET=

OPENAI_API_KEY=

# Optional, use to set OpenAi model for PR labeling
# LABELING_AI_MODEL=
LABELING_ADMIN_TOKEN=
LABEL_CONFIDENCE_THRESHOLD=0.75
